@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="width:auto;">
    <h1 class="display-4">Velkommen</h1>
    <p style="margin-inline:20%+20rem 20rem;font-size:1.5rem; ">
        <br />Denne hjemmeside er lavet til at fungere som mit portfolio, og som et sted jeg kan samle mine erfaringer og dele dem med andre
    </p>
    <p>

    </p>

</div>

