@page
@model Portfolio_Web_App.Pages.OmMigModel
@{
    ViewData["Title"] = "Om mig";
}

<div class="text-center">
    <h1 class="display-4">Om Mig</h1>

         <p>Siden der fortæller om hvem jeg er.</p>

</div>


