@page
@model Portfolio_Web_App.Pages.OmMigModel
@{
    ViewData["Title"] = "Om Mig";
}

<div class="text-center">
    <h1 class="display-4">Om mig</h1>
   
         <p>Siden der handler om hvem jeg er.</p>

</div>


