@page
@model Portfolio_Web_App.Pages.Page2Model
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Hello, world! The time on the server is @DateTime.Now</p>
         <p>You are in the new page</p>

</div>


