@page
@model Portfolio_Web_App.Pages.ProjekterModel
@{
    ViewData["Title"] = "Projekter";
}

<div class="text-center">
    <h1 class="display-4">Projekter</h1>

         <p>Siden der fortæller de projekter jeg har arbejdet på.</p>

</div>
